.x {
  background-color: transparent;
  border: none;
  color: red;
  margin-left: 1rem;
  cursor: pointer;
}

.h3 {
  font-size: 1.8rem;
  margin-left: 1rem;
}

.line-through {
  text-decoration: line-through;
}
